*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}
body{
    background-color: rgb(15, 15, 15);
    height: 100vh;
}
  .flex{
    display: flex;
  }
.redoda{
    padding: 90px;
    height: 400px;
    height: 400px;
    border-radius: 30px;
  
    
  }
   .meu-desktop{
    text-align: center;
    margin: 10px;
    padding: 0 40px;
    
   }
   a:hover{
    color: #fff;
    transform: scale(1.05);
   }
  a{
    color: #363535;
    padding: 0 40px;
    text-decoration: none;
    display: inline-block;
   }
   .contato{
    text-align: right;
    margin: 10px;
   }
   p{
    text-align: center;
    color: #fff;
   }
    .contato button{
       
        padding: 10px, 50px;
        font-size: 18px;
        font-weight: 600;
        background-color: #00ff08;
        border-radius: 30px;
        cursor: pointer;
      
    }
    .contato button:hover{
        box-shadow: 0px 0px 8px #00ff08;
    }


