@charset "utf-8";
*{
    margin: 0%;
    padding: 0%;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header >p{
    padding-bottom: 50px;
}
header{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
header > h1{
padding: 40px;
font-variant: small-caps;

}header a, footer a:hover{
    color: white;
    text-decoration: nome;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
    
}
section.imagem{
background-color: rgb(19, 18, 18);
color: white;
}
section.imagem >a{
width: 400px;
background-color: rgba(0, 0, 0, 0.644);
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
    
}
