/*ESTILO GERAL */
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 100px;
}
.flex{
    display: flex;
}
.btm-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    }
    h2.titulo{
        color: #fff;
        font-size: 38px;
        text-align: center;
    }
    h2.titulo samp{
        color: #00ff08;
    }

/*ESTILO cabesario */
.interface .logo img{
    height: 130px;
}
header{
    padding: 20px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    display: inline-block;
    color: #313131;
    text-decoration: none;
    transition: .2s;

}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
 
header  a:hover{
    color: #00ff08;
    transform: scale(1.2);
}
 .btm-contato button:hover{
    box-shadow: 0 0 8px #00ff08;
    transform: scale(1.2);
}
/*ESTILO DO TOPO Do SITE */
section .topo-de-site{
padding: 40px 4%;
}
.img-topo-site img{
    height: 60%;
    border-radius: 100px;
    margin:  0 50px;
}
section .topo-de-site .flex{
    align-items: center;
    justify-content: center;
}
.topo-de-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}
.topo-de-site .txt-topo-site h1{
    color: #fff;
}
.img-topo-site img{
    position: relative;
    animation: flutua 2s ease-in-out infinite alternate;
}

@keyframes flutua{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}
/*ESTILO especialidade*/
section .Especiliadades{
    padding: 40px 4%;
}
 .especialidade-box {
   margin: 10px;
   align-items: center;
   margin-left: 100px;
   
 }
.especialidade-box img{
    height: 30px;
    margin-left: 30px;

}
    




