/*ESTILO GERAL */
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: black;
    height: 100vh;
}
.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
    margin-top: 200px;
}
.titulo samp{
    color: #00ff08;
}
.flex{
    display: flex;
}
.inerface{
    max-width: 1288px;
    margin: 0 auto;
}
/* ESILO DO CABESARIO */
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #464545;
    text-decoration: none;
}
header a:hover{
    display: inline-block;
    color: #00ff08;
    transform: scale(1.05);
    transform: 2s;
}
header nav ul{
    list-style-type: nome;
    }
    header nav ul li{
        display: inline-block;
        padding: 0 30px;
    }
     
     .btn-contato button:hover{
        display: inline-block;
        box-shadow: 0px 0px 8px #00ff08a4;
        transform: scale(1.05);                     
    }
.logo img{
    height: 150px;
}
/* estilo topo do site*/
section .topo-do-site{
    padding: 40px 4%;
}
.img-todo-site img{
    margin-left: 100px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
    margin-left: 90px;
}
.btn-contato button:hover{
    display: inline-block;
    box-shadow: 0px 0px 8px #00ff08a4;
    transform: scale(1.05); }  
section .topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap:90px ;
}       
.topo-do-site h1{
    color: #fff;
    font-size: 38px;
    margin-left: 100px;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin-left: 100px;
   }
   @keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
   }
   .especilidade-box img{
    height: 70px;
    margin: 10px 10px;
   }
   .flex{
    gap: 40px;
   }
   .especilidade{
    padding: 48px 4%;
   }
   .especilidade-box:hover{
   transform: scale(1.05);
   box-shadow: 0 0 8px #ffffff67;

   }
   .especilidade-box {
    margin-left: 40px;
    margin-top: 30px;
    color: #fff;
    padding: 40px;
    transition: .2s;       
    border-radius: 20px;
   }
   .img-sobre img{
    border-radius: 30px;
    height: 250px;
    top: 200px;
    margin-left: 40px;
    margin-top: 100px;
   }
   .txt-socil button{
    height: 30px;
   }
   .txt-sobre h2{
    margin-top: 90px;
   }
   .sobre{
    padding: 42px 4%;
   }
   .txt-sobre{
    color: #fff;
   }
   .txt-sobre h2 samp{
    color: #00ff08;
    display: block;
   }
    p{
    text-align: justify;
   }
   .txt-socil a img{
    height: 30px;
    margin: 5px;
    transition: 2s;
   }
   .txt-socil a img:hover{
    box-shadow: 0 0 8px #fff;
    transform: scale(1.05);
   }
   section.portfólio{
    padding: 82px 4%;
    box-shadow: 0 0 5px 4px #ffffff34;
   }
   section.portfólio h2 {
    margin: 0;
   }
   .interface h2{
    margin: 30px;
   }
  
   .img-port{
    width: 350px;
    height: 462px;
    background-size: cover;
    background-position: 100% 0% ;
    transition: 8s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
   }
   .img-port:hover{
    background-position: 100% 100% 
   }
   .ovelei{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #020202b6;
    border-radius: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 26px;
    font-weight:600px ;
    color: #fff;
    opacity: 0;
    transition: .5s;
   }
   .ovelei:hover{
    opacity: 1 ;
   }
   

